version: '3.7'

networks:
  front-tier:
  back-tier:

services:
  master:
    build:
      context: .
    volumes:
      - .:/app:rw,cached
    environment:
      - LOCUST_MODE=master
      - LOCUSTFILE_PATH=main.py
    ports:
      - "8089:8089"
      - "5557:5557"
      - "5558:5558"
    env_file:
      - ./.env
    extra_hosts:{% for host, k in hosts.items() %}
      - "{{ host }}:{{ k }}"{% endfor %}
    networks:
      - back-tier
      - front-tier


  slave:
    build:
      context: .
    links:
      - master
    volumes:
      - .:/app:rw,cached
    env_file:
      - ./.env
    environment:
      - LOCUST_MODE=slave
      - LOCUST_MASTER_HOST=master
    extra_hosts:{% for host, k in hosts.items() %}
      - "{{ host }}:{{ k }}"{% endfor %}
    networks:
      - back-tier
      - front-tier